:root {
  --md-primary-fg-color: #6131e0;
}

img {
  display: block;
}

#kofi img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 40%;
}

#kofi:hover img {
  opacity: 0.5;
}

.md-grid {
  max-width: initial;
}

.md-typeset a {
  font-weight: bold;
}

.md-typeset a,
.md-nav__item .md-nav__link--active {
  color: #9575ea;
}

.md-typeset a:hover,
.md-nav__link:hover {
  color: #7b53e5;
}
